name: admissions
path: hosp/admissions.csv.gz
version: "3.1"
dataset: mimic-iv

columns:
  # subject_id and extentions
  - name: hadm_id
    type: int64
  - name: subject_id
    type: int64
  # db fields - times
  - name: admittime
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  - name: deathtime
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  - name: dischtime
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  - name: edregtime
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  - name: edouttime
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  # db fields - values
  - name: admission_location
    type: string
  - name: admission_type
    type: string
  - name: admit_provider_id
    type: string
  - name: discharge_location
    type: string
  - name: hospital_expire_flag
    type: int64
  - name: insurance
    type: string
  - name: language
    type: string
  - name: marital_status
    type: string
  - name: race
    type: string

event_defaults:
  subject_id: col(subject_id)
  extension:
    hadm_id: col(hadm_id)
    stay_id: const("-1")

events:
  - name: admission
    columns:
      time: col(admittime)
      code:
        - const("ADMISSION_TIME")
        - col(admission_location)
        - col(admission_type)
        - col(admit_provider_id)
  - name: discharge
    columns:
      time: col(dischtime)
      code:
        - const("DISCHARGE_TIME")
        - col(discharge_location)
  - name: dod
    columns:
      time: col(deathtime)
      code:
        - const("DOD")
  - name: insurance
    columns:
      time: col(admittime)
      code:
        - const("INSURANCE")
        - col(insurance)
  - name: language
    columns:
      time: col(admittime)
      code:
        - const("LANGUAGE")
        - col(language)
  - name: marital_status
    columns:
      time: col(admittime)
      code:
        - const("MARITAL_STATUS")
        - col(marital_status)
  - name: race
    columns:
      time: col(admittime)
      code:
        - const("RACE")
        - col(race)
  - name: emergency_department_registration
    columns:
      time: col(edregtime)
      code:
        - const("EDREGTIME")
  - name: emergency_department_discharge
    columns:
      time: col(edouttime)
      code:
        - const("EDOUTTIME")
  - name: hospital_expire_flag
    columns:
      time: col(dischtime)
      code:
        - const("HOSPITAL_EXPIRE_FLAG")
      numeric_value: col(hospital_expire_flag)
