name: icustays
path: icu/icustays.csv

fields:
  - name: subject_id
    type: int64
  - name: hadm_id
    type: int64
  - name: stay_id
    type: int64
  - name: intime
    type: datetime
  - name: outtime
    type: datetime
  - name: first_careunit
    type: string
  - name: last_careunit
    type: string
  - name: los
    type: float32
  - name: in_code
    type: string
    constant: ICU_ADMISSION
  - name: out_code
    type: string
    constant: ICU_DISCHARGE
  - name: los_code
    type: string
    constant: ICU_LENGTH_OF_STAY
  - name: los_unit
    type: string
    constant: d

event_defaults:
  subject_id: subject_id
  extension:
    hadm_id: hadm_id
    stay_id: stay_id

events:
  - name: icu_admission
    fields:
      time: intime
      code:
        - in_code
        - first_careunit
  - name: icu_discharge
    fields:
      time: outtime
      code:
        - out_code
        - last_careunit
  - name: icu_length_of_stay
    fields:
      time: outtime
      code:
        - los_code
        - los_unit
      numeric_value: los
