name: prescriptions
path: hosp/prescriptions.csv.gz
version: "3.1"
dataset: mimic-iv

columns:
  # subject_id and extentions
  - name: hadm_id # should be identical field in pharmacy
    type: int64
  - name: subject_id  # should be identical field in pharmacy
    type: int64
  # db fields - times
  - name: starttime # identical field in pharmacy
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  - name: stoptime  # identical field in pharmacy
    type: datetime
    params:
      format: "%Y-%m-%d %H:%M:%S"
  # db fields - values
  - name: doses_per_24_hrs
    type: float32
  - name: dose_unit_rx
    type: string
  - name: dose_val_rx
    type: string
  - name: drug
    type: string
  - name: drug_type
    type: string
  - name: form_rx
    type: string
  - name: form_unit_disp
    type: string
  - name: form_val_disp
    type: string
  - name: formulary_drug_cd
    type: string
  - name: gsn # Generic Sequence Number
    type: string
  - name: ndc # National Drug Code
    type: string
  - name: order_provider_id
    type: string
  - name: pharmacy_id # unique id in pharmacy table
    type: int64
  - name: prod_strength
    type: string
  - name: poe_id  # orders
    type: string
  - name: poe_seq
    type: int64
  - name: route # identical field in pharmacy
    type: string

join:
  - name: pharmacy
    path: hosp/pharmacy.csv.gz
    columns:
      # subject_id and extentions
      # db fields - times
      # - name: entertime
      #   type: datetime
      #   params:
      #     format: "%H:%M:%S"
      # - name: expirationdate
      #   type: datetime
      #   params:
      #     format: "%Y-%m-%d"
      # - name: verifiedtime
      #   type: datetime
      #   params:
      #     format: "%H:%M:%S"
      # db fields - values
      - name: basal_rate
        type: float32
      - name: disp_sched
        type: string
      - name: dispensation
        type: string
      - name: duration
        type: float32
      - name: duration_interval
        type: string
      - name: expiration_value
        type: int64
      - name: expiration_unit
        type: string
      - name: fill_quantity
        type: string
      - name: frequency
        type: string
      - name: infusion_type
        type: string
      - name: lockout_interval
        type: string
      - name: medication
        type: string
      - name: one_hr_max
        type: string
      - name: pharmacy_id
        type: int64
      - name: proc_type
        type: string
      - name: sliding_scale
        type: string
      - name: status
        type: string
    both_on:
      - pharmacy_id

event_defaults:
  subject_id: col(subject_id)
  extension:
    hadm_id: col(hadm_id)
    stay_id: const("-1")

events:
  - name: medication_start
    columns:
      time: col(starttime)
      code:
        - const("MEDICATION_START")
        - col(medication)
        - col(infusion_type)
        - col(drug)
        - col(drug_type)
        - col(prod_strength)
  - name: status
    columns:
      time: col(stoptime)
      text_value: col(status)
  # - name: verifiedtime
  #   columns:
  #     time: verifiedtime
  #     code:
  #       - const("VERIFIEDTIME")
  - name: frequency
    columns:
      time: col(starttime)
      code:
        - col(frequency)
  - name: sliding_scale
    columns:
      time: col(starttime)
      code:
        - col(sliding_scale)
  - name: lockout_interval
    columns:
      time: col(starttime)
      code:
        - col(lockout_interval)
  - name: medication_stop
    columns:
      time: col(stoptime)
      code:
        - col(medication)
        - col(infusion_type)
        - col(drug)
        - col(drug_type)
        - col(prod_strength)
