name: antibiotics
version: 1.0.0
unit: boolean

extension_columns: []

mappings:
  - pattern:
      dataset: eicu
      version: 2.0
      table: infusiondrug
      code: bactrim|cipro|flagyl|metronidazole|zithromax|zosyn|(((amika|cleo|ofloxa)|(azithro|clinda|tobra|vanco)my)c|(ampi|oxa|peni|pipera)cill|cefazol|levaqu|rifamp)in
    columns:
      numeric_value: const(1)
      text_value: const("true")
