name: antibiotics
version: 1.0.0
unit: boolean

extension_columns:
  dataset: col("dataset")
  table: col("table")

mappings:
  - pattern:
      dataset: eicu
      table: infusiondrug
      event: drugrate
      code: .*?(bactrim|cipro|flagyl|metronidazole|zithromax|zosyn|(((amika|cleo|ofloxa)|(azithro|clinda|tobra|vanco)my)c|(ampi|oxa|peni|pipera)cill|cefazol|levaqu|rifamp)in)
    columns:
      numeric_value: const(1)
      text_value: const("true")
  - pattern:
      dataset: eicu
      table: medication
      event: drug
      code: .*?(cipro|flagyl|maxipime|metronidazole|tazobactam|zosyn|cef(azolin|epime)|(((azithro|clinda|vanco)my|ofloxa|vanco)c|levaqu|piperacill|roceph)in)
    columns:
      numeric_value: const(1)
      text_value: const("true")
  - pattern:
      dataset: mimic-iv
      table: prescriptions
      event: medication_start # in Ricu it is named "drug"
      code: .*?(aztreonam|bactrim|cephalexin|chloramphenicol|cipro|flagyl|metronidazole|nitrofurantoin|tazobactam|rifampin|sulfadiazine|timentin|trimethoprim|(amika|gentami|vanco)cin|(amoxi|ampi|dicloxa|naf|oxa|peni|pipera)cillin|(azithro|clarithro|erythro|clinda|strepto|tobra|vanco)mycin|cef(azolin|tazidime|adroxil|epime|otetan|otaxime|podoxime|uroxime)|(doxy|mino|tetra)cycline|(levofl|moxifl|ofl)oxacin|macro(bid|dantin)|(una|zo)syn)
    columns:
      numeric_value: const(1)
      text_value: const("true")
