name: antibiotics
version: 1.0.0
unit: boolean

extension_columns:
  -

mappings:
  - patterns:
      dataset: eicu
      version: 2.0
      table: infusiondrug
      event:
      code: bactrim|cipro|flagyl|metronidazole|zithromax|zosyn|(((amika|cleo|ofloxa)|(azithro|clinda|tobra|vanco)my)c|(ampi|oxa|peni|pipera)cill|cefazol|levaqu|rifamp)in
      regex:
    columns:
      numeric_value: dosage
      text_value:
