name: infusionDrug
path: infusionDrug.csv

fields:
  - name: patientunitstayid
    type: int64
  - name: drugamount
    type: float32
  - name: drugname
    type: string
  # - name: event_timestamp
  #   base:
  #     name: admission_timestamp
  #     type: datetime
  #   offset:
  #     name: infusionoffset
  #     type: int64

join:
  - name: patient
    path: patient.csv
    fields:
      - name: patienthealthsystemstayid
        type: int64
      - name: hadm_id
        type: int64
        constant: -1
      - name: patientunitstayid
        type: int64

      # - name: admission_timestamp
      #   year:
      #     name: hospitaldischargeyear
      #     type: int64[pyarrow]
      #   month:
      #     name: month
      #     type: int64[pyarrow]
      #     constant: 1
      #   day:
      #     name: day
      #     type: int64[pyarrow]
      #     constant: 1
      #   time:
      #     name: hospitaladmittime24
      #     type: string
      #   offset:
      #     name: hospitaladmitoffset
      #     type: int64
    both_on:
      - patientunitstayid

events:
  - name: drugamount
    fields:
      subject_id: patienthealthsystemstayid
      time: event_timestamp
      code:
        - drugname
      numeric_value: drugamount
      extension:
        hadm_id: hadm_id
        stay_id: patientunitstayid
