name: infusionDrug
path: infusionDrug.csv
version: "2.0"
dataset: eicu

fields:
  # general codes
  - name: src_table_code
    type: string
    constant: infusionDrug
  # codes
  - name: patientweight_code
    type: string
    constant: WEIGHT
  - name: drugamount_code
    type: string
    constant: AMOUNT
  - name: drugrate_code
    type: string
    constant: RATE
  - name: infusionrate_code
    type: string
    constant: INFUSION_RATE
  - name: volumeoffluid_code
    type: string
    constant: VOLUME_OF_FLUID
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  - name: src_db_id
    type: string
    constant: eicu
  # db fields - times
  - name: infusionoffset
    type: int64
  # db fields - values
  - name: drugamount
    type: float64 # decimal(x,y)
  - name: drugname
    type: string
  - name: drugrate
    type: string
  - name: infusionrate
    type: string
  - name: patientweight
    type: string
  - name: volumeoffluid
    type: string
  - name: weight_uom
    type: string
    constant: kg
post_callbacks:
  - add_offset(admission_timestamp, infusionoffset, event_timestamp)

join:
  - name: patient
    path: patient.csv
    fields:
        # general codes
        # codes
        # subject_id and extentions
      - name: hadm_id
        type: int64
        constant: -1
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: day
        type: int64
        constant: 1
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      - name: month
        type: int64
        constant: 1
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - to_datetime(hospitaldischargeyear, month, day, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)

event_defaults:
  subject_id: patienthealthsystemstayid
  code_prefix:
    - src_table_code
  extension:
    hadm_id: hadm_id
    stay_id: patientunitstayid
    src_db_id: src_db_id

events:
  - name: patientweight
    fields:
      time: admission_timestamp
      code:
        - patientweight_code
        - weight_uom
      text_value: patientweight
    callbacks:
      - drop_na([text_value])
  - name: drugamount
    fields:
      time: event_timestamp
      code:
        - drugamount_code
        - drugname
      numeric_value: drugamount
    callbacks:
      - drop_na([numeric_value])
  - name: drugrate
    fields:
      time: event_timestamp
      code:
        - drugrate_code
      text_value: drugrate
    callbacks:
      - drop_na([text_value])
  - name: infusionrate
    fields:
      time: event_timestamp
      code:
        - infusionrate_code
      text_value: infusionrate
    callbacks:
      - drop_na([numeric_value])
  - name: volumeoffluid
    fields:
      time: event_timestamp
      code:
        - volumeoffluid_code
      text_value: volumeoffluid
    callbacks:
      - drop_na([text_value])

