name: infusionDrug
path: infusionDrug.csv.gz
version: "2.0"
dataset: eicu

columns:
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  # db fields - times
  - name: infusionoffset
    type: int64
  # db fields - values
  - name: drugamount
    type: float64 # decimal(x,y)
  - name: drugname
    type: string
  - name: drugrate
    type: string
  - name: infusionrate
    type: string
  - name: patientweight
    type: string
  - name: volumeoffluid
    type: string
post_callbacks:
  - add_offset(admission_timestamp, infusionoffset, event_timestamp)

join:
  - name: patient
    path: patient.csv.gz
    columns:
      # subject_id and extentions
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - to_datetime(hospitaldischargeyear, 1, 1, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)

event_defaults:
  subject_id: col(patienthealthsystemstayid)
  extension:
    hadm_id: const(-1)
    stay_id: col(patientunitstayid)

events:
  - name: patientweight
    columns:
      time: col(admission_timestamp)
      code:
        - const("WEIGHT")
        - const("kg")
      text_value: col(patientweight)
    filters:
      - drop_na(text_value)
  - name: drugamount
    columns:
      time: col(event_timestamp)
      code:
        - const("AMOUNT")
        - col(drugname)
      numeric_value: col(drugamount)
    filters:
      - drop_na(numeric_value)
  - name: drugrate
    columns:
      time: col(event_timestamp)
      code:
        - const("RATE")
      text_value: col(drugrate)
    filters:
      - drop_na(text_value)
  - name: infusionrate
    columns:
      time: col(event_timestamp)
      code:
        - const("INFUSION_RATE")
      text_value: col(infusionrate)
    filters:
      - drop_na(text_value)
  - name: volumeoffluid
    columns:
      time: col(event_timestamp)
      code:
        - const("VOLUME_OF_FLUID")
      text_value: col(volumeoffluid)
    filters:
      - drop_na(text_value)
