name: infusionDrug
path: infusionDrug.csv

fields:
  - name: patientunitstayid
    type: int64
  - name: drugamount
    type: float32
  - name: drugname
    type: string
  - name: infusionoffset
    type: int64
post_callbacks:
  - callback: add_offset
    params:
      datetime: admission_timestamp
      offset: infusionoffset
      output: event_timestamp

join:
  - name: patient
    path: patient.csv
    fields:
      - name: patienthealthsystemstayid
        type: int64
      - name: hadm_id
        type: int64
        constant: -1
      - name: patientunitstayid
        type: int64
      - name: hospitaldischargeyear
        type: int64
      - name: month
        type: int64
        constant: 1
      - name: day
        type: int64
        constant: 1
      - name: hospitaladmittime24
        type: string
      - name: hospitaladmitoffset
        type: int64
    both_on:
      - patientunitstayid
    callbacks:
      - callback: to_datetime
        params:
          year: hospitaldischargeyear
          month: month
          day: day
          time: hospitaladmittime24
          offset: hospitaladmitoffset
          output: admission_timestamp

events:
  - name: drugamount
    fields:
      subject_id: patienthealthsystemstayid
      time: event_timestamp
      code:
        - drugname
      numeric_value: drugamount
      extension:
        hadm_id: hadm_id
        stay_id: patientunitstayid
