name: medication
path: medication.csv.gz
version: "2.0"
dataset: eicu

fields:
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  # db fields - times
  - name: drugstartoffset
    type: int64
  # db fields - values
  - name: drugname
    type: str
  - name: dosage
    type: str

post_callbacks:
  - add_offset(admission_timestamp, drugstartoffset, event_timestamp)

join:
  - name: patient
    path: patient.csv.gz
    fields:
      # subject_id and extentions
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - to_datetime(hospitaldischargeyear, 1, 1, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)

event_defaults:
  subject_id: patienthealthsystemstayid
  time: event_timestamp
  code_prefix:
    - const("medication")
  extension:
    hadm_id: const(-1)
    stay_id: patientunitstayid
    src_db_id: const("eicu")

events:
  - name: drug
    fields:
      code:
        - drugname
      text_value: dosage
