name: patient
path: patient.csv

fields:
  - name: patienthealthsystemstayid
    type: int64
  - name: hadm_id
    type: int64
    constant: -1
  - name: patientunitstayid
    type: int64
  - name: unittype
    type: string
  - name: in_code
    type: string
    constant: ICU_ADMISSION
  - name: out_code
    type: string
    constant: ICU_DISCHARGE
  - name: hospitaldischargeyear
    type: int64
  - name: month
    type: int64
    constant: 1
  - name: day
    type: int64
    constant: 1
  - name: hospitaladmittime24
    type: string
  - name: hospitaladmitoffset
    type: int64
  - name: unitdischargeoffset
    type: int64

callbacks:
  - callback: to_datetime
    params:
      year: hospitaldischargeyear
      month: month
      day: day
      time: hospitaladmittime24
      offset: hospitaladmitoffset
      output: admission_timestamp
  - callback: add_offset
    params:
      datetime: admission_timestamp
      offset: unitdischargeoffset
      output: discharge_timestamp

  # - name: gender
  #   type: string
  # - name: gender_code
  #   type: string
  #   constant: GENDER
  # - name: age
  #   type: int64
  # - name: age_code
  #   type: string
  #   constant: AGE
  # - name: age_unit
  #   type: string
  #   constant: y
  # - name: ethnicity
  #   type: string
  # - name: ethnicity_code
  #   type: string
  #   constant: ETHNICITY
  # - name: admissionheight
  #   type: float32
  # - name: admissionheight_code
  #   type: string
  #   constant: HEIGHT
  # - name: admissionheight_unit
  #   type: string
  #   constant: cm
  # - name: admissionweight
  #   type: float32
  # - name: dischargeheight
  #   type: float32
  # - name: weight_code
  #   type: string
  #   constant: WEIGHT
  # - name: weight_unit
  #   type: string
  #   constant: kg

event_defaults:
  subject_id: patienthealthsystemstayid
  code_suffix:
    - unittype
  extension:
    hadm_id: hadm_id
    stay_id: patientunitstayid

events:
  - name: icu_admission
    fields:
      subject_id: patienthealthsystemstayid
      time: admission_timestamp
      code:
        - in_code
  - name: icu_discharge
    fields:
      subject_id: patienthealthsystemstayid
      time: discharge_timestamp
      code:
        - out_code
