name: patient
path: patient.csv.gz
version: "2.0"
dataset: eicu

columns:
  # subject_id and extension
  - name: patienthealthsystemstayid
    type: int64
  - name: patientunitstayid
    type: int64
  # db fields - times
  - name: hospitaladmitoffset
    type: int64
  - name: hospitaladmittime24
    type: string
  - name: hospitaldischargeoffset
    type: int64
  - name: hospitaldischargeyear
    type: int64
  - name: unitadmittime24
    type: string
  - name: unitdischargeoffset
    type: int64
  - name: unitdischargetime24
    type: string
  # db fields - values
  - name: admissionheight
    type: float64 # decimal(x,y) # decimal(10,2)
  - name: admissionweight
    type: float64 # decimal(x,y)
  - name: age
    type: string
  - name: apacheadmissiondx
    type: string
  - name: dischargeweight
    type: float64 # decimal(x,y)
  - name: ethnicity
    type: string
  - name: gender
    type: string
  - name: hospitaladmitsource
    type: string
  - name: hospitaldischargelocation
    type: string
  - name: hospitaldischargestatus
    type: string
  - name: hospitalid
    type: int64
  - name: unitadmitsource
    type: string
  - name: unitdischargelocation
    type: string
  - name: unitdischargestatus
    type: string
  - name: unitstaytype
    type: string
  - name: unitvisitnumber
    type: int64
  - name: unittype
    type: string
  - name: uniquepid
    type: string
  - name: wardid
    type: int64

post_callbacks:
  - to_datetime(hospitaldischargeyear, 1, 1, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)
  - add_offset(admission_timestamp, unitdischargeoffset, discharge_timestamp)

event_defaults:
  subject_id: col(patienthealthsystemstayid)
  code_prefix:
    - const("patient")
  extension:
    hadm_id: const(-1)
    stay_id: col(patientunitstayid)
    src_db_id: const("eicu")

events:
  - name: gender
    columns:
      # TODO: suggest and maybe change time birthdate
      time: col(admission_timestamp)
      code: # codes is null, when using gender and gender is empty string
        - const("GENDER")
        - col(gender)
  - name: icu_admission
    columns:
      time: col(admission_timestamp)
      code:
        - const("ICU_ADMISSION")
        - col(unittype)
  - name: age
    columns:
      time: col(admission_timestamp)
      code:
        - const("AGE")
        - const("y")
      text_value: col(age)
  - name: ethnicity
    columns:
      time: col(admission_timestamp)
      code:
        - const("ETHNICITY")
        - col(ethnicity)
  - name: admissionheight
    columns:
      time: col(admission_timestamp)
      code:
        - const("HEIGHT")
        - const("cm")
      numeric_value: col(admissionheight)
  - name: admissionweight
    columns:
      time: col(admission_timestamp)
      code:
        - const("ADMISSION_WEIGHT")
        - const("kg")
      numeric_value: col(admissionweight)
  - name: icu_discharge
    columns:
      time: col(discharge_timestamp)
      code:
        - const("icu_discharge")
        - const(unittype)
  - name: dischargeweight
    columns:
    time: col(discharge_timestamp)
    code:
      - const("DISCHARGE_WEIGHT")
      - const("kg")
    numeric_value: col(dischargeweight)
