name: patient
path: patient.csv.gz
version: "2.0"
dataset: eicu

fields:
  # general codes
  - name: src_table_code
    type: string
    constant: patient
  # codes
  - name: admissionheight_code
    type: string
    constant: HEIGHT
  - name: admissionweight_code
    type: string
    constant: ADMISSION_WEIGHT
  - name: age_code
    type: string
    constant: AGE
  - name: dischargeweight_code
    type: string
    constant: DISCHARGE_WEIGHT
  - name: ethnicity_code
    type: string
    constant: ETHNICITY
  - name: gender_code
    type: string
    constant: GENDER
  - name: in_code
    type: string
    constant: ICU_ADMISSION
  - name: out_code
    type: string
    constant: icu_discharge
  # subject_id and extensions
  - name: hadm_id
    type: int64
    constant: -1
  - name: patienthealthsystemstayid
    type: int64
  - name: patientunitstayid
    type: int64
  - name: src_db_id
    type: string
    constant: eicu
  # db fields - times
  - name: admission_day
    type: int64
    constant: 1
  - name: admission_month
    type: int64
    constant: 1
  - name: hospitaladmitoffset
    type: int64
  - name: hospitaladmittime24
    type: string
  - name: hospitaldischargeoffset
    type: int64
  - name: hospitaldischargeyear
    type: int64
  - name: unitadmittime24
    type: string
  - name: unitdischargeoffset
    type: int64
  - name: unitdischargetime24
    type: string
  # db fields - values
  - name: admissionheight
    type: float64 # decimal(x,y) # decimal(10,2)
  - name: admissionheight_unit
    type: string
    constant: cm
  - name: admissionweight
    type: float64 # decimal(x,y)
  - name: admissionwight_uom
    type: string
    constant: kg
  - name: age
    type: string
  - name: age_unit
    type: string
    constant: y
  - name: apacheadmissiondx
    type: string
  - name: dischargeweight
    type: float64 # decimal(x,y)
  - name: ethnicity
    type: string
  - name: gender
    type: string
  - name: hospitaladmitsource
    type: string
  - name: hospitaldischargelocation
    type: string
  - name: hospitaldischargestatus
    type: string
  - name: hospitalid
    type: int64
  - name: unitadmitsource
    type: string
  - name: unitdischargelocation
    type: string
  - name: unitdischargestatus
    type: string
  - name: unitstaytype
    type: string
  - name: unitvisitnumber
    type: int64
  - name: unittype
    type: string
  - name: uniquepid
    type: string
  - name: wardid
    type: int64
  - name: weight_unit
    type: string
    constant: kg

post_callbacks:
  - callback: to_datetime
    params:
      year: hospitaldischargeyear
      month: admission_month
      day: admission_day
      time: hospitaladmittime24
      offset: hospitaladmitoffset
      output: admission_timestamp
  - callback: add_offset
    params:
      datetime: admission_timestamp
      offset: unitdischargeoffset
      output: discharge_timestamp

event_defaults:
  subject_id: patienthealthsystemstayid
  code_prefix:
    - src_table_code
  extension:
    hadm_id: hadm_id
    stay_id: patientunitstayid
    src_db_id: src_db_id

events:
  - name: gender
    fields:
      # TODO: suggest and maybe change time birthdate
      time: admission_timestamp
      code: # codes is null, when using gender and gender is empty string
        - gender_code
        - gender
  - name: icu_admission
    fields:
      time: admission_timestamp
      code:
        - in_code
        - unittype
  - name: age
    fields:
      time: admission_timestamp
      code:
        - age_code
        - age_unit
      text_value: age
  - name: ethnicity
    fields:
      time: admission_timestamp
      code:
        - ethnicity_code
        - ethnicity
  - name: admissionheight
    fields:
      time: admission_timestamp
      code:
        - admissionheight_code
        - admissionheight_unit
      numeric_value: admissionheight
  - name: admissionweight
    fields:
      time: admission_timestamp
      code:
        - admissionweight_code
        - weight_unit
      numeric_value: admissionweight
  - name: icu_discharge
    fields:
      time: discharge_timestamp
      code:
        - out_code
        - unittype
  # - name: dischargeweight
  #   fields:
  #   time: discharge_timestamp
  #   code:
  #     - dischargeweight_code
  #     - weight_unit
  #   numeric_value: dischargeweight
