name: vitalPeriodic
path: vitalPeriodic.csv.gz
version: "2.0"
dataset: eicu

columns:
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  # db fields - times
  - name: observationoffset
    type: int64
  # db fields - values
  - name: cvp
    type: int64
  - name: etco2 # etCo2
    type: int64
  - name: heartrate
    type: float64 # decimal(x,y)
  - name: padiastolic
    type: int64
  - name: pamean
    type: int64
  - name: pasystolic
    type: int64
  - name: respiration
    type: int64
  - name: sao2  # saO2
    type: int64
  - name: st1
    type: float32
  - name: st2
    type: float32
  - name: st3
    type: float32
  - name: icp
    type: int64
  - name: systemicdiastolic
    type: int64
  - name: systemicmean
    type: int64
  - name: systemicsystolic
    type: int64
  - name: temperature
    type: float64 # decimal(x,y)
  - name: vitalperiodicid
    type: int64


post_callbacks:
  - add_offset(admission_timestamp, observationoffset, event_timestamp)

join:
  - name: patient
    path: patient.csv.gz
    columns:
      # subject_id and extentions
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - to_datetime(hospitaldischargeyear, 1, 1, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)

event_defaults:
  subject_id: col(patienthealthsystemstayid)
  time: col(event_timestamp)
  code_prefix:
    - const("vitalPeriodic")
  extension:
    hadm_id: const(-1)
    stay_id: col(patientunitstayid)
    src_db_id: const("eicu")

events:
  - name: col(heartrate)
    columns:
      code:
        - const("HEARTRATE")
        - const("BPM")
      numeric_value: col(heartrate)
  - name: vitalperiodicid
    columns:
      code:
        - const("VITAL_PERIODIC_ID")
      numeric_value: col(observationoffset)
  - name: temperature
    columns:
      code:
        - const("TEMPERATURE")
      numeric_value: col(temperature)
  - name: sao2
    columns:
      code:
        - const("SAO2")
      numeric_value: col(sao2)
  - name: respiration
    columns:
      code:
        - const("RESPIRATION")
      numeric_value: col(respiration)
  - name: cvp
    columns:
      code:
        - const("CVP")
      numeric_value: col(cvp)
  - name: etco2
    columns:
      code:
        - const("ETCO2")
      numeric_value: col(etco2)
  - name: systemicsystolic
    columns:
      code:
        - const("SYSTEMICSYSTOLIC")
      numeric_value: col(systemicsystolic)
  - name: systemicdiastolic
    columns:
      code:
        - const("SYSTEMICDIASTOLIC")
      numeric_value: col(systemicdiastolic)
  - name: systemicmean
    columns:
      code:
        - const("SYSTEMICMEAN")
      numeric_value: col(systemicmean)
  - name: pasystolic
    columns:
      code:
        - const("PASYSTOLIC")
      numeric_value: col(pasystolic)
  - name: padiastolic
    columns:
      code:
        - const("PADIASTOLIC")
      numeric_value: col(padiastolic)
  - name: pamean
    columns:
      code:
        - const("PAMEAN")
      numeric_value: col(pamean)
  - name: st1
    columns:
      code:
        - const("ST1")
      numeric_value: col(st1)
  - name: st2
    columns:
      code:
        - const("ST2")
      numeric_value: col(st2)
  - name: st3
    columns:
      code:
        - const("ST3")
      numeric_value: col(st3)
  - name: icp
    columns:
      code:
        - const("ICP")
      numeric_value: col(icp)
