name: vitalPeriodic
path: vitalPeriodic.csv

fields:
  # general codes
  - name: src_table_code
    type: string
    constant: vitalPeriodic
  # codes
  - name: heartrate_code
    type: string
    constant: HEART_RATE
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  - name: src_db_id
    type: string
    constant: eicu 
  # db fields - times
  - name: observationoffset
    type: int64
  # db fields - values
  - name: heartrate
    type: float32
  - name: heartrate_uom
    type: string
    constant: BPM
post_callbacks:
  - callback: add_offset
    params:
      datetime: admission_timestamp
      offset: observationoffset
      output: event_timestamp

join:
  - name: patient
    path: patient.csv
    fields:
      # general codes
      # codes
      # subject_id and extentions
      - name: hadm_id
        type: int64
        constant: -1
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: day
        type: int64
        constant: 1
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      - name: month
        type: int64
        constant: 1
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - callback: to_datetime
        params:
          year: hospitaldischargeyear
          month: month
          day: day
          time: hospitaladmittime24
          offset: hospitaladmitoffset
          output: admission_timestamp

events:
  - name: heartrate
    fields:
      subject_id: patienthealthsystemstayid
      time: event_timestamp
      code:
        - src_table_code
        - heartrate_code
        - heartrate_uom
      numeric_value: heartrate
      extension:
        hadm_id: hadm_id
        stay_id: patientunitstayid
        src_db_id: src_db_id
