name: vitalPeriodic
path: vitalPeriodic.csv.gz
version: "2.0"
dataset: eicu

columns:
  # general codes
  - name: src_table_code
    type: string
    constant: vitalPeriodic
  # codes
  - name: cvp_code
    type: string
    constant: CVP
  - name: etco2_code
    type: string
    constant: ETCO2
  - name: heartrate_code
    type: string
    constant: HEARTRATE
  - name: icp_code
    type: string
    constant: ICP
  - name: padiastolic_code
    type: string
    constant: PADIASTOLIC
  - name: pamean_code
    type: string
    constant: PAMEAN
  - name: pasystolic_code
    type: string
    constant: PASYSTOLIC
  - name: respiration_code
    type: string
    constant: RESPIRATION
  - name: sao2_code
    type: string
    constant: SAO2
  - name: st1_code
    type: string
    constant: ST1
  - name: st2_code
    type: string
    constant: ST2
  - name: st3_code
    type: string
    constant: ST3
  - name: systemicdiastolic_code
    type: string
    constant: SYSTEMICDIASTOLIC
  - name: systemicmean_code
    type: string
    constant: SYSTEMICMEAN
  - name: systemicsystolic_code
    type: string
    constant: SYSTEMICSYSTOLIC
  - name: temperature_code
    type: string
    constant: TEMPERATURE
  - name: vitalperiodicid_code
    type: string
    constant: VITAL_PERIODIC_ID
  # subject_id and extentions
  - name: patientunitstayid
    type: int64
  - name: src_db_id
    type: string
    constant: eicu
  # db fields - times
  - name: observationoffset
    type: int64
  # db fields - values
  - name: cvp
    type: int64
  - name: etco2 # etCo2
    type: int64
  - name: heartrate
    type: float64 # decimal(x,y)
  - name: heartrate_uom
    type: string
    constant: BPM
  - name: padiastolic
    type: int64
  - name: pamean
    type: int64
  - name: pasystolic
    type: int64
  - name: respiration
    type: int64
  - name: sao2  # saO2
    type: int64
  - name: st1
    type: float32
  - name: st2
    type: float32
  - name: st3
    type: float32
  - name: icp
    type: int64
  - name: systemicdiastolic
    type: int64
  - name: systemicmean
    type: int64
  - name: systemicsystolic
    type: int64
  - name: temperature
    type: float64 # decimal(x,y)
  - name: vitalperiodicid
    type: int64


post_callbacks:
  - add_offset(admission_timestamp, observationoffset, event_timestamp)

join:
  - name: patient
    path: patient.csv.gz
    columns:
      # general codes
      # codes
      # subject_id and extentions
      - name: hadm_id
        type: int64
        constant: -1
      - name: patienthealthsystemstayid
        type: int64
      - name: patientunitstayid
        type: int64
      # db fields - times
      - name: day
        type: int64
        constant: 1
      - name: hospitaladmitoffset
        type: int64
      - name: hospitaladmittime24
        type: string
      - name: hospitaldischargeyear
        type: int64
      - name: month
        type: int64
        constant: 1
      # db fields - values
    both_on:
      - patientunitstayid
    callbacks:
      - to_datetime(hospitaldischargeyear, month, day, hospitaladmittime24, hospitaladmitoffset, admission_timestamp)

event_defaults:
  subject_id: patienthealthsystemstayid
  time: event_timestamp
  code_prefix:
    - src_table_code
  extension:
    hadm_id: hadm_id
    stay_id: patientunitstayid
    src_db_id: src_db_id

events:
  - name: heartrate
    columns:
      code:
        - heartrate_code
        - heartrate_uom
      numeric_value: heartrate
  - name: vitalperiodicid
    columns:
      code:
        - vitalperiodicid_code
      numeric_value: observationoffset
  - name: temperature
    columns:
      code:
        - temperature_code
      numeric_value: temperature
  - name: sao2
    columns:
      code:
        - sao2_code
      numeric_value: sao2
  - name: respiration
    columns:
      code:
        - respiration_code
      numeric_value: respiration
  - name: cvp
    columns:
      code:
        - cvp_code
      numeric_value: cvp
  - name: etco2
    columns:
      code:
        - etco2_code
      numeric_value: etco2
  - name: systemicsystolic
    columns:
      code:
        - systemicsystolic_code
      numeric_value: systemicsystolic
  - name: systemicdiastolic
    columns:
      code:
        - systemicdiastolic_code
      numeric_value: systemicdiastolic
  - name: systemicmean
    columns:
      code:
        - systemicmean_code
      numeric_value: systemicmean
  - name: pasystolic
    columns:
      code:
        - pasystolic_code
      numeric_value: pasystolic
  - name: padiastolic
    columns:
      code:
        - padiastolic_code
      numeric_value: padiastolic
  - name: pamean
    columns:
      code:
        - pamean_code
      numeric_value: pamean
  - name: st1
    columns:
      code:
        - st1_code
      numeric_value: st1
  - name: st2
    columns:
      code:
        - st2_code
      numeric_value: st2
  - name: st3
    columns:
      code:
        - st3_code
      numeric_value: st3
  - name: icp
    columns:
      code:
        - icp_code
      numeric_value: icp
