name: vitalPeriodic
path: vitalPeriodic.csv

fields:
  - name: patientunitstayid
    type: int64
  - name: heartrate
    type: float32
  - name: heartrate_code
    type: string
    constant: HEART_RATE//BPM
  - name: observationoffset
    type: int64
post_callbacks:
  - callback: add_offset
    params:
      datetime: admission_timestamp
      offset: observationoffset
      output: event_timestamp

join:
  - name: patient
    path: patient.csv
    fields:
      - name: patienthealthsystemstayid
        type: int64
      - name: hadm_id
        type: int64
        constant: -1
      - name: patientunitstayid
        type: int64
      - name: patientunitstayid
        type: int64
      - name: hospitaldischargeyear
        type: int64[pyarrow]
      - name: month
        type: int64[pyarrow]
        constant: 1
      - name: day
        type: int64[pyarrow]
        constant: 1
      - name: hospitaladmittime24
        type: string
      - name: hospitaladmitoffset
        type: int64
    both_on:
      - patientunitstayid
    callbacks:
      - callback: to_datetime
        params:
          year: hospitaldischargeyear
          month: month
          day: day
          time: hospitaladmittime24
          offset: hospitaladmitoffset
          output: admission_timestamp

events:
  - name: heartrate
    fields:
      subject_id: patienthealthsystemstayid
      time: event_timestamp
      code:
        - heartrate_code
      numeric_value: heartrate
      extension:
        hadm_id: hadm_id
        stay_id: patientunitstayid
